<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>#{msg.tasks}</title>
	<h:outputStylesheet name="css/sistema.css" />
</h:head>
<h:body>
	<header>
		<div>
			<h:graphicImage value="/resources/images/profile.png" height="30px" />
		</div>
		<div style="margin-top: 8px;">
			<p:outputLabel value="#{msg.hello}" style="font-weight:bold;"
				escape="true" />
			<p:outputLabel value=" #{tasksMB.accessSession.userSession.userName}"
				style="font-weight:bold;" />
		</div>

	</header>
	<div id="container">
		<div align="right">
			<p:commandButton icon="fa fa-plus" value="#{msg.newTask}"
				action="#{tasksMB.newTask()}"
				style="background-color: #4682B4; margin-bottom: 10px;" />
		</div>
		<h:form id="formTableTask">
			<p:growl autoUpdate="true" for="editTask" closable="true" />
			<p:dataTable id="taskTable" value="#{tasksMB.listOfTasks}" var="t"
				paginatorAlwaysVisible="false" paginator="true" rows="10"
				reflow="true" paginatorPosition="bottom">
				<f:facet name="header">
					<h:outputLabel value="#{msg.tasksFree}" />
				</f:facet>
				<p:column headerText="#{msg.cod}" sortBy="#{t.taskId}">
					<h:outputText value="#{t.taskId}" />
				</p:column>
				<p:column headerText="#{msg.description}">
					<h:outputText value="#{t.description}" />
				</p:column>
				<p:column headerText="#{msg.criate}" sortBy="#{t.taskDate}">
					<h:outputText value="#{t.taskDate}">
						<f:convertDateTime type="date" pattern="dd-MM-yyyy HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column headerText="#{msg.assigned}">
					<h:outputText
						value="#{t.targetUser == null ? 'Livre' : t.targetUser.userName}" />
				</p:column>
				<p:column headerText="#{msg.action}"
					style="width:45px;text-align: center">
					<p:commandButton icon="fa fa-edit" iconPos="center"
						oncomplete="PF('dialogEditTask').show();" update="dialogEditTask">
						<f:setPropertyActionListener value="#{t}"
							target="#{tasksMB.selectTask}" />
					</p:commandButton>
				</p:column>
				<f:facet name="footer">
					<div align="right">
						<p:commandButton value="#{msg.logout}"
							action="#{tasksMB.logout()}" icon="fa fa-power-off"
							style="background-color: #FF0000; margin-bottom: 5px; width:65px; text-align: center;" />
					</div>
				</f:facet>
			</p:dataTable>
		</h:form>

		<p:dialog id="dialogEditTask" responsive="true"
			header="#{tasksMB.selectTask.targetUser != null ? msg.messageAssign.concat(tasksMB.selectTask.targetUser.userName)  : msg.noAssign}"
			widgetVar="dialogEditTask" closable="true" height="500px"
			width="500px" onHide="#{tasksMB.unselectTask()}" modal="true">
			<h:form id="formEditTask">
				<p:messages autoUpdate="true" closable="true" />
				<p:commandButton value="#{msg.getTask}"
					style="background-color: #4682B4;"
					rendered="#{tasksMB.selectTask.targetUser== null}"
					action="#{tasksMB.getTask()}" update="formEditTask" />
				<p:commandButton value="#{msg.leaveTask}"
					style="background-color: #4682B4;"
					rendered="#{tasksMB.selectTask.targetUser == tasksMB.accessSession.userSession}"
					action="#{tasksMB.leaveTask()}" update="formEditTask" />
				<h:panelGrid columns="3" styleClass="general-grid">
					<h:outputText
						value="#{msg.cod.concat(': ').concat(tasksMB.selectTask.taskId) }"
						style="font-weight:bold; font-size: 11px;" />
					<h:outputText value="#{msg.criation.concat(':')}"
						style="font-weight:bold; font-size: 11px;" />
					<p:outputLabel value="#{tasksMB.selectTask.taskDate}"
						style="font-size: 11px;">
						<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
					</p:outputLabel>
					<h:panelGroup />
					<h:panelGroup />
					<h:panelGroup />
					<h:outputText value="#{msg.description}" style="font-weight:bold;" />
					<h:panelGroup />
					<h:panelGroup />
					<p:outputLabel value="#{tasksMB.selectTask.description}" />

				</h:panelGrid>
				<br />
				<h:panelGrid columns="2" styleClass="general-grid" id="panelInfo"
					rendered="#{tasksMB.selectTask.targetUser == tasksMB.accessSession.userSession}">
					<p:inputTextarea id="answerTask" value="#{tasksMB.answer}"
						placeholder="#{msg.answerDescription}" cols="40" rows="4"
						autoResize="false" maxlength="180" counter="count"
						rendered="#{tasksMB.selectTask.targetUser == tasksMB.accessSession.userSession}"
						counterTemplate="Restam {0} caracteres" />
					<h:panelGroup />
					<p:outputLabel id="count" />
				</h:panelGrid>
				<br />
				<p:commandButton value="#{msg.btnCompleteTask}"
					rendered="#{tasksMB.selectTask.targetUser == tasksMB.accessSession.userSession}"
					style="background-color: #4682B4;"
					action="#{tasksMB.completeTask()}" update="formTableTask" />
				<p:commandButton value="#{msg.cancel}"
					style="background-color: #FF0000;"
					action="#{tasksMB.closeTaskEdit()}" update="formTableTask" />
			</h:form>
		</p:dialog>

		<p:dialog id="dialogTask" header="#{msg.newTask}" responsive="true"
			widgetVar="dialogTask" closable="true" height="230px" width="400px"
			onHide="#{tasksMB.cancelTask()}">
			<h:form id="formTask">
				<p:messages autoUpdate="true" closable="true" />
				<p:outputLabel value="#{msg.description}" for="descriptionTask" />
				<h:panelGrid columns="2" styleClass="general-grid">
					<p:inputTextarea id="descriptionTask"
						value="#{tasksMB.description}" cols="30" rows="4" required="true"
						requiredMessage="#{msg.descriptionMessage}" autoResize="false"
						maxlength="180" counter="count"
						counterTemplate="Restam {0} caracteres" />
					<br />
					<p:outputLabel id="count" />
				</h:panelGrid>
				<h:panelGrid columns="2" styleClass="general-grid" style="margin">
					<p:commandButton id="btnSave" value="#{msg.save}"
						style="background-color: #4682B4;" action="#{tasksMB.saveTask()}"
						update="formTableTask descriptionTask" />
					<p:commandButton id="btnCancel" value="#{msg.cancel}"
						style="background-color: #FF0000;"
						action="#{tasksMB.cancelTask()}"
						oncomplete="PF('dialogTask').hide();" update="descriptionTask" />
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</div>
</h:body>
<p:separator style="margin-top: 20px;" />
<footer>
	#{msg.challenge} <br /> #{msg.challenge2}
</footer>
</html>